.music__wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-image: url(/public/images/background.png);
    background-size: cover;
}

.music__card {
    min-width: 280px;
    width: 450px;
    height: 400px;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.music__card:nth-of-type(1) {
    background-image: url(./audio/nirvana.jpg);
}

.music__card:nth-of-type(2) {
    background-image: url(./audio/eva.jpg);
}

.music__card:nth-of-type(3) {
    background-image: url(./audio/imagine.jpg);
}

.music__card:nth-of-type(4) {
    background-image: url(./audio/lb.jpg);
}

.music__card:nth-of-type(5) {
    background-image: url(./audio/Linkin-Park.jpg);
}

.music__card:nth-of-type(6) {
    background-image: url(./audio/Linkin-Park.jpg);
}

.music__card:nth-of-type(7) {
    background-image: url(./audio/nickelback.jpg);
}

.music__card:nth-of-type(8) {
    background-image: url(./audio/skil.png);
}

.music__card:nth-of-type(9) {
    background-image: url(./audio/skil.png);
}

.rhap_container {
    position: absolute;
    left: 0;
    bottom: 0;
    outline: none;
    background-color: #313131 !important;
}

@media (max-width: 426px) {
    .music__card {
        width: 300px;
        height: 295px;

    }
    
}